{% set filePath = '/bundles/cooptilleulssyliusquickimportplugin/' %}

<div class="ui icon info message">
    <i class="info circle icon"></i>
    <div class="content">
        <div class="header">
            {{ 'sylius.ui.info'|trans }}
        </div>
        <p>{{ 'coop_tilleuls_quick_import_plugin.ui.info'|trans }}</p>
        <ul>
            <li><a href="{{ ( filePath ~ 'catalog.xlsx') }}" target="_blank">{{ 'coop_tilleuls_quick_import_plugin.ui.info_excel'|trans }}</a></li>
            <li><a href="{{ ( filePath ~ 'catalog.ods') }}" target="_blank">{{ 'coop_tilleuls_quick_import_plugin.ui.info_ods'|trans }}</a></li>
            <li><a href="{{ ( filePath ~ 'catalog.csv') }}" target="_blank">{{ 'coop_tilleuls_quick_import_plugin.ui.info_csv'|trans }}</a></li>
        </ul>
    </div>
</div>
