{% macro info(message, icon, type, header) %}
    <div class="ui icon {{ type|default('') }} message">
        <i class="{{ icon }} icon"></i>
        <div class="content">
            {% if type is not empty %}
                <div class="header">
                    {{ header|default(type)|trans }}
                </div>
            {% endif %}
            <p>{{ message|trans|raw }}</p>
        </div>
    </div>
{% endmacro %}

{% import _self as messages %}
{{ messages.info('coop_tilleuls_quick_import_plugin.ui.info', 'info circle', 'info', 'sylius.ui.info') }}
